.header{
    width: 1320px;
border-radius: 16px;
background: #070211 0%, rgba(7, 2, 17, 0.00) 100%;
background-image: url('../images/Banner\ Image.png');
margin: 50px 140px;
}
.banner{
  
    padding: 175px 370px;
   
    
}
.banner-title{
    width: 632px;
    color: rgb(42, 235, 12);
text-align: center;
font-size: 72px;
font-style: normal;
font-weight: 900;
margin-top: 0;
/* 131.944% */
}
.banner-greeting{
    color: rgb(248, 19, 183);
   text-align: center;
    font-size: 32px;
    font-style: normal;
    margin-bottom: 0;
   
}
.box{
    color:rgb(227, 18, 35);
    
}

.skill{
    align-items: center;
    display: block;
}
.tex-color{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}
.section-description{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 0;
   
}
.section-title{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 0;
margin-bottom: 20px;
}

 .setion-photo{
   width: 390px;
   margin: 0px 580px;
   
 }
 .welcome{
    width: 1320px;

display: flex;
background-image: url('../images/Vectorrr.png');
background-repeat: no-repeat;
background-position: center;
margin: 140px;



 }
    
 .welcome-title{
    width: 642px;
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
 }
.welcom-description{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.welcome-photo{
   
    width: 319.83px;
   padding: 68px  138px 68px 262px;
  
}
