.header{
    width: 1320px;
border-radius: 16px;
background: #070211 0%, rgba(7, 2, 17, 0.00) 100%;
background-image: url('../images/Banner\ Image.png');
margin: 50px 140px;
}
.banner{
  
    padding: 175px 370px;
   
    
}
.banner-title{
    width: 632px;
    color: rgb(42, 235, 12);
text-align: center;
font-size: 72px;
margin-top: 0;
/* 131.944% */
}
.banner-greeting{
    color: rgb(248, 19, 183);
   text-align: center;
    font-size: 32px;
    font-style: normal;
    margin-bottom: 0;
   
}
.box{
    color:rgb(227, 18, 35);
    
}

.skill{
    align-items: center;
    display: block;
}
.tex-color{
    color: #F00;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}
.section-description{
    color: #F00;
text-align: center;

font-size: 15px;

margin-bottom: 0;
   
}
.section-title{
    color: #070211;
text-align: center;
font-size: 30px;

margin-top: 0;
margin-bottom: 20px;
}

 .setion-photo{
   width: 390px;
   margin: 0px 580px;
   
 }
 .welcome{
    width: 1320px;

display: flex;
background-image: url('../images/Vectorrr.png');
background-repeat: no-repeat;
background-position: center;
margin: 140px;




 }
    
 .resume-title{
    width: 642px;
    color: #FFF;
font-size: 64px;

 }
.resume-description{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
  

    /* 166.667% */}
 .resume-join{
    color: #FFF;
font-size: 20px;
padding-bottom: 142px;



 }

.the-photo{
   
    width: 319.83px;
   padding: 68px  138px 68px 262px;
  
}
.resume{
 margin-right: ;
}
.label{
    padding: 100px 200px 100px 200px;
  background-color: rgb(239, 171, 216);
  color: rgba(255, 0, 0, 0.00) 100%;

  ;
    align-items: center;
   margin: 0 140px;
}
.pad{
    padding: 50px 100px;
    text-align: center;
    font-size: 25px;

}
.pad-title{
   
    background: #F00;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    display: inline-flex;
    padding: 16px 32px;
     gap: 10px;
}
.pad-color{
    color: #F00;
}
